@media screen and (max-width: 1200px) {
    .hero{
        flex-direction: column;
    }
    .feature-products{
        width: 900px;
    }
    .product-cart-component{
        width: calc(900px / 3 - 20px);
    }
}
@media screen and (max-width: 900px) {
    .home-hero{
        padding-top: 200px;
    }
    .feature-products{
        width: 90vw;
    }
    .product-cart-component{
        width: calc(90vw / 2 - 20px);
    }
    .hero-side-images-skeleton{
        display: none;
    }
    .hero-section-image-skeleton{
        width: 90vw;
    }
}
@media screen and (max-width: 600px) {
    .home-buttons-div{
        flex-direction: column;
    }
    .shopnow-btn, .vendor-btn{
        width: 90vw;
        justify-content: center;
        gap: 10px;
    }
    .fruitimg-right, .fruitimg-left{
        display: none;
    }
    .hero-section-text{
        font-size: 30px;
    }
    .hero{
        width: 100vw;
    }
    .hero-top-seciton{
        margin: 20px;
    }
    .quality-btns{
        width: 400px;
    }
    .product-cart-component{
        width: 80vw;
    }
    .product-cart-component>div{
        width: calc(80vw - 1px);
    }
    .product-cart-component>div img{
        object-fit: contain;
    }
}
@media screen and (max-width: 600px) {
    .hero-text{
        width: 90vw;
    }
    .homeBotton-box{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .homeBotton-box > div{
        width: auto;
    }
}

@media screen and (max-width: 325px) {
    .product-cart-component>div img{
        object-fit: cover;
    }
    .product-card-component-rating{
        display: block;
    }
}