@media screen and (max-width: 1100px) {
    .options{
        gap: 15px;
    }
    .options li{
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    .navbar-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        row-gap: 20px;
    }
    .options{
        display: none;
    }
    .mobile-options{
        grid-column: 1/3;
        display: flex;
    }
    .icons{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: flex-end;
    }
    .menu-icon{
        display: block;
    }
    .cart-icon, .menu-icon{
        font-size: 17px;
    }
    .search-bar{
        width: 80vw;
        grid-column: 1/3;
        justify-self: center;
    }
    .email-verification-alert{
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        bottom: -70px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-section{
        width: 90vw;
    }
    .search-bar{
        width: 90vw;
    }
}