@media screen and (max-width: 900px) {
    .profile-section{
        margin-top: 150px;
    }
}

@media screen and (max-width: 700px) {
    .edit-userprofile{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .signOut-btn{
        font-size: 11px;
        gap: 3px;
        padding: 5px;
    }
    .logout-icon{
        width: 11px;
    }
}
@media screen and (max-width: 400px) {
    .profile-view-section{
        flex-direction: column;
    }
    .profile-section-box{
        justify-content: center;
    }
    .profile-tabs{
        font-size: 12px;
    }
    .profile-section-heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .profile-section-heading>div h1{
        font-size: 18px;
    }
    .profile-section-heading>div p{
        font-size: 15px;
    }
    .profile-overview-orders{
        flex-direction: column;
        gap: 10px;
    }
}