@media screen and (max-width: 600px) {
    .category-grid{
        flex-direction: column;
    }
    .category-select-btn{
        width: 70vw;
    }
    .category-grid>div{
        position: inherit;
        height: fit-content;
    }
}
@media screen and (max-width: 900px) {
    .category-section-start{
        margin-top: 150px;
    }
    .category-skeleton{
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }
    .category-skeleton-categories{
        width: 80vw;
    }
    .category-skeleton-products{
        flex: 0 0 0;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .category-section-items{
        flex-direction: column;
        align-items: start;
    }
    .category-section-start{
        width: 90vw;
    }
    .input-div{
        width: 90vw;
    }
    .category-section-top{
        width: 90vw;
    }
    .category-select-btn{
        width: 90vw;
    }
    .category-product-section{
        justify-content: center;
    }
}