@media screen and (max-width: 1200px) {
    .checkout-section{
        width: 1000px;
    }
    .checkout-section-left{
        width: 500px;
    }
    .orderdetail{
        width: 400px;
    }
    .continue-btn{
        width: 60%;
    }
    .back-btn{
        width: 20%;
    }
    .orders-page{
        width: 900px;
    }
}
@media screen and (max-width: 1000px) {
    .checkout-section{
        flex-direction: column;
        width: 900px;
    }
    .checkout-section-left{
        width: 90vw;
    }
    .orderdetail{
        width: 90vw;
    }
    .order-section{
        width: 600px;
    }
    .orders-page{
        width: 600px;
        margin-top: 180px;
    }
}
@media screen and (max-width: 750px) {
    .checkout-section{
        margin-left: 0;
        width: 90vw;
    }
}
@media screen and (max-width: 600px) {
    .checkout-section{
        margin-left: 0;
    }
    .order-section{
        width: 80vw;
    }
    .orderdetail-page{
        width: 80vw;
    }
    .shipping-page, .orders-page{
        width: 80vw;
    }
    .orders-detail-section-2{
        flex-direction: column;
    }
    .orders-section-filters{
        flex-direction: column;
    }
    .orders-section-filters div{
        width: 100%;
    }
    .orders-section-filters div select{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .track-order-details{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .track-order-bars{
        width: 1px;
        height: 100px;
        background-color: #9ca3af;
        flex: 0 0 auto;
    }
}